@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent; /* Needed for frameless / glassmorphism */
}

.drag-region {
  -webkit-app-region: drag;
  user-select: none;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}
